@charset "UTF-8";

:root {
    --font1 :'Ubuntu', sans-serif;

    --color1: #8E2800;
    --color2: #B64926;
    --color3: #FFB03B;
    --color4: #FFF0A5;
    --color5: #468966;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fog {
    from {
        filter: blur(5px);
    }

    to {
        filter: blur(0px);
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(../images/email-campaign-animate.svg), radial-gradient(circle, var(--color4),var(--color2));
    background-size: cover;
    backdrop-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--font1);
    animation: 1s fog ease-in;
}

form {
    width: 100%;
    max-width: 30rem;
}

label,
input,
textarea,
button {
    display: block;
}

input,
textarea,
button {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
    color: white;
}

input,
textarea {
    margin-bottom: 1rem;
    color: var(--color1);
    background: rgba(255, 240, 166, 0.75);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: var(--color2);
    box-shadow: 0px 0px 10px var(--color2);
}

label {
    margin-bottom: 0.5rem;
    color: var(--color5);
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

textarea {
    min-height: 12.5rem;
    resize: vertical;
}

input::placeholder, textarea::placeholder {
    color: rgba(143, 40, 0, 0.4);
}

button {
    border: none;
    border-radius: 99px;
    background: var(--color5);
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
button:focus {
    outline: none;
    background: #5cb386;
}

/*----- THANKS -----*/

#Thanks {
    display: flex;
    flex-direction: column;
}

#messageThanks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px;
}

#messageThanks h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    font-weight: 800;
    line-height: 40px;
    border-radius: 15px;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    color: var(--color4);
    background-color: rgba(143, 41, 0, 0.6);
}

#backToPortfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: var(--color5);
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

#backToPortfolio a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

#backToPortfolio:hover {
    background-color: #6bcf9c;
}