@charset "UTF-8";

@media screen and (max-width: 800px) {
  header {
    position: relative;
    background: url(../images/backgroundCell.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--color3), var(--color3));
    background: radial-gradient(hsla(0, 0%, 20%, 0.8), hsla(0, 0%, 20%, 0.8));
    opacity: 0.95; /* Ajuste este valor para mais ou menos visibilidade da imagem */
    pointer-events: none; /* Permite interação com o conteúdo abaixo */
  }

  #title {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    font-size: 3.5em;
    color: var(--color2);
  }

  #inicioEsquerdo {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  #inicioEsquerdo p {
    color: var(--color2);
  }

  #arrow-down {
    color: var(--color1);
    top: 80%;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }

  #navbar a {
    font-size: 4vw;
  }

  li a {
    margin: 0px 0px;
    transition: color 0.4s ease-in-out;
  }

  #title {
    font-size: 7.5vw;
    text-align: center;
  }

  #title i {
    width: 5vw;
  }

  #apresentacion {
    text-align: center;
  }

  #apresentacion p {
    font-size: 20px;
  }

  #designer h1 {
    font-size: 7vw;
    text-align: center;
  }

  #designImages img {
    width: 250px;
    height: 330px;
  }

  .deskMobi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .inputChange {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #projects {
    font-size: 7vw;
    text-align: center;
  }

  main h2 {
    text-align: center;
  }

  main p {
    text-align: center;
  }

  .img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 90%;
  }

  .imgs img {
    max-width: 95%;
  }

  #iframe-container {
    /*background-color: red;*/
    margin: 0;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .iframes iframe {
    width: 360px;
    height: 680px;
  }

  footer {
    background: radial-gradient( var(--color1), var(--color1));
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 40px;
  }

  #whatsApp {
    width: 80%;
  }

  #contacth2 {
    font-size: 40px;
    color: var(--color2);
  }

  #contact h1 {
    font-size: 7vw;
    text-align: center;
    position: relative;
  }

  #contact h2 {
    text-decoration: underline 5px var(--color2);
  }

  #contact p {
    width: 80%;
    font-size: 4vw;
    text-align: center;
  }

  #contact a {
    font-size: 18px;
  }

  #img-contact {
    display: none;
  }

  #img-contact img {
    display: none;
  }

  #Copyright {
    text-align: center;
    font-size: 13px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
  header {
    flex-direction: column;
  }

  #inicioEsquerdo {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }

  #title {
    font-size: 5.5vw;
    text-align: justify;
  }

  #designer h1 {
    font-size: 4.5vw;
    text-align: center;
  }

  #designImages img {
    width: 300px;
    height: 380px;
  }

  #apresentacion {
    text-align: center;
  }

  #apresentacion p {
    font-size: 20px;
  }

  #finish-text p {
    font-size: 30px;
  }

  main h2 {
    text-align: center;
  }

  main p {
    text-align: center;
  }

  #projects {
    font-size: 4.5vw;
    text-align: center;
  }

  .img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 90%;
  }

  .imgs img {
    max-width: 95%;
  }

  #iframe-container {
    /*background-color: red;*/
    margin: 0;
    margin-top: 15px;
  }

  .iframes iframe {
    width: 380px;
    height: 750px;
  }

  #contact {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);
    gap: 40px;
  }

  #whatsApp {
    width: 50%;
  }

  #contact h2 {
    font-size: 40px;
    color: var(--color3);
  }

  #contact h1 {
    font-size: 3.5vw;
    text-align: center;
  }

  #contact p {
    font-size: 2vw;
    text-align: center;
  }

  #contact a {
    font-size: 18px;
  }

  #img-contact {
    display: none;
  }

  #img-contact img {
    display: none;
  }
}
