@charset "UTF-8";

@media screen and (max-width:800px) {

    #inicioEsquerdo {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    #inicioDireito {
        display: none;
    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
    }

    
    #navbar a {
        font-size: 4vw;
    }

    li a {
        margin: 0px 0px;
        transition: color 0.4s ease-in-out;
    }
    
    #title {
        font-size: 7.5vw;
        text-align: justify;
    }

    #title i {
        width: 4vw;
    }

    #apresentacion {
        text-align: center;
    }

    #apresentacion p {
        font-size: 20px;
    }

    #designer h1 {
        font-size: 7vw;
        text-align: center;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    #designImages img {
        width: 250px;
        height: 330px;
    }
    
    #f-text {
        display: none;
    }

    #finish-text {
        width: 100%;
    }

    #finish-text p {
        font-size: 30px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }

    .deskMobi{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .inputChange {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #projects {
        font-size: 7vw;
        text-align: center;
    }

    main h2 {
        text-align: center;
    }

    main p {
        text-align: center;
    }

    .img-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        height: 90%;
    }

    .imgs img {
        max-width: 90%;
    }

    #iframe-container {
        /*background-color: red;*/
        margin: 0;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .iframes iframe{
        width: 400px;
        height: 800px;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7));
        background-attachment: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        gap: 20px; 
    }

    #contacth2 {
        font-size: 40px;
        color: var(--color3);
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    #contact h1 {
        font-size: 7vw;
        text-align: center;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    #contact p {
        font-size: 3.5vw;
        text-align: center;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    #contact a {
        font-size: 18px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    #img-contact {
        display: none;
    }

    #img-contact img {
        display: none;
    }

    #Copyright {
        text-align: center;
        font-size: 13px;
    }
}

@media screen and (min-width: 800px) and (max-width:1280px) {

    header {
        flex-direction: column;
    }

    #inicioEsquerdo {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    #inicioDireito {
        display: none;
    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
    }
    
    #title {
        font-size: 5.5vw;
        text-align: justify;
    }

    #designer h1 {
        font-size: 4.5vw;
        text-align: center;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    
    #designImages img {
        width: 300px;
        height: 380px;
    }

    #apresentacion {
        text-align: center;
    }

    #apresentacion p {
        font-size: 20px;
    }

    #finish-text p {
        font-size: 30px;
    }

    main h2 {
        text-align: center;
    }

    main p {
        text-align: center;
    }

    #projects {
        font-size: 4.5vw;
        text-align: center;
    }

    .img-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 450px;
        height: 90%;
    }

    .imgs img {
        max-width: 90%;
    }

    #iframe-container {
        /*background-color: red;*/
        margin: 0;
        margin-top: 15px;
    }

    .iframes iframe{
        width: 400px;
        height: 800px;
    }
    
    #contact {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7));
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .5);
    }

    #contact h2 {
        font-size: 40px;
        color: var(--color3);
    }
    
    #contact h1 {
        font-size: 4.5vw;
        text-align: center;
    }
    
    #contact p {
        font-size: 2vw;
        text-align: center;
    }

    #contact a {
        font-size: 18px;
    }

    #img-contact {
        display: none;
    }

    #img-contact img {
        display: none;
    }
}
