@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --font1 :'Ubuntu', sans-serif;

    --color1: #8E2800;
    --color2: #B64926;
    --color3: #FFB03B;
    --color4: #FFF0A5;
    --color5: #468966;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font1);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Header */

#inicioEsquerdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

#inicioDireito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background:radial-gradient(#ff933b,var(--color2), var(--color1));
}

nav {
    display: flex;
    position: fixed;
    width: 98.7%;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px;
    
    background:transparent;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
    transition: 0.3s ease-in-out;
}

nav a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    color: var(--color4);
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
}

li a {
    margin: 0px 10px ;
    transition: all .25s ease-in-out;
}

li a:hover {
    color: var(--color3);
}

.navbar-scrolled {
    background: black;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

#container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

#web i {
    color: var(--color3);
    font-size: 45px;
    margin: 0px 10px ;
    transition: all .3s ease-in-out;
}

#web i:hover {
    color: var(--color4);
    transform: translateY(-5px);
}

/*Excluir?????*/#navegacion {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    color: var(--color4);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#inicioEsquerdo p {
    display: flex;
    margin: 0px 20px;
    font-size: 23px;
    font-weight: 500;
    color: var(--color4);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#title {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    font-size: 3.8em;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    color: var(--color4);
}

#apresentacion {
    text-align: right;
    font-size: 23px;
    margin: 20px;
    text-indent: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    color: var(--color4);
}

#imgwebsite {
    display: flex;
    margin: 0 auto;
    width: 33vw;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background:radial-gradient(circle,#fce263,var(--color3));
}

main h1 {
    font-size: 50px;
    margin: 20px;
    color: var(--color1);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}


#iframe-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin: 20px;
}

.iframes iframe{
    display: inline-block;
    width: 34vw;
    height: 750px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
}

main h2 {
    font-size: 30px;
    margin: 20px;
    color: var(--color1);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

main p {
    font-size: 19px;
    font-weight: 500;
    margin: 0px 20px;
    color: var(--color4);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#imgs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0px;
}

#imgs-container h3 {
    font-size: 20px;
    text-align: center;
    margin: 8px;
    color: var(--color5);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.imgs img {
    display: flex;
    flex-direction: column;
    width: 550px;
    margin: 15px 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--color2);
    transition: .5s;
}

.imgs img:hover{
    transform: scale(1.010) ;
    background-color: rgba(182, 74, 38, 0.7);
}

.img-block {
    width: 570px;
    height: 670px;
    text-align: center;
    
}

#f-text {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    width: 100vw;
    
}

#finish-text {
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    
    background: url(../images/code-typing-animate.svg) no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    box-shadow: inset 5px 0px 13px rgba(0, 0, 0, .5);
    background-color: rgba(182, 74, 38, 0.6);
}

#f-text p {
    text-align: center;
    font-size: 30px;
    color: var(--color5);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 102%;
    background:radial-gradient(var(--color2),var(--color1) 75%);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100%;
    padding: 20px;
    gap: 20px;
}

#img-contact {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
}

footer h2 {
    font-size: 35px;
    color: var(--color3);
}

footer h1 {
    font-size: 45px;
    color: var(--color4);
}

footer p {
    text-indent: 25px;
    font-size: 18px;
    color: var(--color4);
}

footer a {
    font-size: 15px;
    color: var(--color3);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

footer a:hover {
    color: var(--color4);
}

#img-contact img {
    display: flex;
    width: 48vw;
}


