@charset "UTF-8";

:root {
    --font1 :'Ubuntu', sans-serif;

    --color1: #8E2800;
    --color2: #B64926;
    --color3: #FFB03B;
    --color4: #FFF0A5;
    --color5: #468966;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
